body {
  background: blanchedalmond;
}

* {
  border: 1px solid turquoise;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

 .b,.c {
   flex-grow: 1;
 }

 .a {
   flex-grow: 3;
 }

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .a {
    width: 100%;
    }

  .b {
  width: 75%;
  }  

  .a,.b,.c {
    margin: 1em;
  }
}